body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 1000px;
    text-align: center;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-right: 600px;
}

input,
select {
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#addTask {
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
    

}

 .actions button {
    /* position: absolute; */
    bottom:40px;
    border: hidden;
    background-color: white;
    color: red;
    align-items: center;
    font-size: 15px;
    

} 


.delete,.edit,
.save {
    cursor: pointer;
}
.delete:hover, .edit:hover, .save:hover {
    text-decoration: underline;
   
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    
}

th {
    background-color: #f2f2f2;
}

#currentTime {
    margin-top: 20px;
    display: block;
    font-style: italic;
    color: #666;
}
